.DS_Store
db/schema.rb
config/database.yml
log/*.log
tmp/**/*
test/**/*
doc/api
doc/app
db/*sqlite3
coverage/**/*
public/javascripts/less_routes.js
config/initializers/local_initializer.rb
.idea
.project
public/system